version: '3'

services:
  node:
    build: ./docker/node
    volumes:
      - ./app:/app
    ports:
      - 8080:8080
    tty: true
    networks:
      default:
  firebase:
    build: ./docker/firebase
    command: emulators:start
    ports:
      - 9099:9099
      - 4000:4000
      - 5001:5001
      - 9000:9000
      - 8081:8081
      - 9199:9199
      - 5000:5000
      - 8085:8085
    volumes:
      - ./firebase/functions:/firebase/functions
      - ./firebase/rules:/firebase/rules
      - ./firebase/.firebaserc:/firebase/.firebaserc
      - ./firebase/firebase.json:/firebase/firebase.json
      - ./firebase/firestore.indexes.json:/firebase/firestore.indexes.json
      - ./app/dist:/firebase/dist
      - ./docker/firebase/emulators:/root/.cache/firebase/emulators
    environment:
      - FIREBASE_STORAGE_EMULATOR_HOST=0.0.0.0:9199
      - FIRESTORE_EMULATOR_HOST=0.0.0.0:8081
    networks:
      default:

volumes:
  default:

networks:
  default:

